html,
body,
#root {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.app-container {
    display: flex;
    height: 100vh;
}

/* for desktop */
.Sidebar {
    /* width: 250px; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 36, 49);
    color: aliceblue;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-bottom: 1px solid rgba(245, 245, 245, 0.517);
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;

}

.menu-item:hover {
    background-color: rgb(18, 38, 117);
}

.menu-item .icon {
    margin-right: 16px;
}

.sidebar-wrapper {
    width: 250px;
    overflow-y: auto;
}

.main-content {
    flex: 1;
    padding: 20px;
    padding-top: 0;
    color: rgba(0, 0, 0, 0.728);
    overflow-y: auto;
}

.dashboard-page,
.price-page {
    padding: 20px;
    max-width: 100%;
}

.table-container {
    max-height: 1000px;
    overflow-y: auto;
}

.price-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    resize: both;
}

.price-table td , .price-table th{
    text-align: center;
    padding: 12px;
    border-bottom: 0.5px solid black;
}

.price-page th {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}